@import '../../base';

.addPage{
    height: 100%;
    .add{
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    
        h2{
            grid-area: 1/2/2/3;
            justify-self: center;
            align-self: flex-end;
            color: $fourthColor;
        }

        form{
            margin: 4em 0;
            align-self: flex-start;
            justify-self: center;
            grid-area: 2/2/3/3;
            
            td{
                text-align: center;
                height: 2em;
                padding: 0.2em;

                label{
                    display: block;
                    border-radius: 1em;
                    padding: 0 0.5em;
                    line-height: 150%;
                    background-color: $seventhColor;
                    color: $eighthColor;
                    width: 100%;
                    height: 100%;
                }

                input{
                    border-radius: 1em;
                    text-indent: 0.5em;
                    border: 0;
                    height: 100%;
                }
                
                .btn-submit{
                    padding: 0.5em 1.3em;
                    text-indent: 0;
                    background-color: $firstColor;
                }
                .btn-submit:hover{
                    background-color: #6f8a1f;
                }
            }
        }
    }
}